.mainBlockProject{
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
}

@media (min-width: 50px) and (max-width: 500px) {
    .mainBlockProject {
        width: 100%;
    }
}

.position_block {
    display: flex;
}

.allProjectsBlock {
    box-sizing: border-box;
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.titleProject {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    margin: 50px 0 ;
}

@media (min-width: 50px) and (max-width: 500px) {
    .titleProject {
        margin: 0 0;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.imgBlock {
    margin: 0 auto;
    width: 90%;
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid rgba(210, 83, 83, 0.49);
    transition: all 1s;
}

.img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


.oneProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 650px;
    padding: 10px;
    justify-content: space-around;
    margin: 10px 20px;
    border: 1px solid #ededed;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px rgba(169, 169, 169, 0.51);
    transition: width 1s;
}

.button_div {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.oneProject:hover {
    box-sizing: border-box;
    box-shadow: 7px -7px 15px 1px #fbc4c2, -7px 7px 15px 1px #fbc4c2;

    transition: all 0.6s;
}

@media (min-width: 1300px) and (max-width: 2000px) {
    .allProjectsBlock {
        width: 100%;
        margin: 0 40px;
    }
    .oneProject {
        width: 29%;
    }
    .oneProject:hover {
        box-sizing: border-box;
        box-shadow: 7px -7px 15px 1px #fbc4c2, -7px 7px 15px 1px #fbc4c2;

        transition: all 0.6s;
    }
}
@media (min-width: 900px) and (max-width: 1300px) {
    .allProjectsBlock {
        width: 80%;
        margin: 0 auto;
    }
    .oneProject {
        width: 43%;
    }
    .oneProject:hover {
        box-sizing: border-box;
        box-shadow: 7px -7px 15px 1px #fbc4c2, -7px 7px 15px 1px #fbc4c2;

        transition: all 0.6s;
    }
}

@media (min-width: 500px) and (max-width: 900px) {
    .allProjectsBlock {
        width: 90%;
    }
    .oneProject {
        width: 90%;
        margin: 20px auto;
    }
    .oneProject:hover {
        box-sizing: border-box;
        box-shadow: 7px -7px 15px 1px #fbc4c2, -7px 7px 15px 1px #fbc4c2;

        transition: all 0.6s;
    }
}

@media (min-width: 50px) and (max-width: 500px) {
    .allProjectsBlock {
        width: 100%;
    }
    .oneProject {
        width: 90%;
        margin: 20px auto;
    }
    .oneProject:hover {
        box-sizing: border-box;
        box-shadow: 7px -7px 15px 1px #fbc4c2, -7px 7px 15px 1px #fbc4c2;

        transition: all 0.6s;
    }
}

.button {
    width: 150px;
    border: 2px solid;
    margin: 10px;
    font-size: large;
    padding: 5px 10px;
    border-radius: 10px;
}

.button:hover {
    transition: all 0.6s;
    background-color: #f9564f;
    color: white;
    border: 2px solid rgba(217, 96, 96, 0.49);
    cursor: pointer;
}
.button:focus {
    transition: all 0.6s;
    background-color: #f9564f;
    color: white;
    border: 2px solid rgba(217, 96, 96, 0.49);
    cursor: pointer;
}

.button:active {
    transition: all 0.6s;
    background-color: #595959;
    color: white;
    border: 2px solid rgba(217, 96, 96, 0.49);
    cursor: pointer;
}

.oneProject:hover img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.titleAndDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (min-width: 300px) and (max-width: 800px) {
    .titleAndDescription {
        width: 100%;
        justify-content: center;
    }
}