.mainBlockProject{
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    /*background-color: #c5b1ee;*/
    padding-bottom: 100px;
}

@media (min-width: 300px) and (max-width: 500px) {
    .mainBlockProject {
        width: 400px;
    }
}

.allProjectsBlock {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.titleProject {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imgBlock {
    width: 350px;
    height: 380px;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(210, 83, 83, 0.49);
}

.oneProject{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-height: 300px;
    padding: 10px;
    justify-content: center;
    margin: 0 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px rgba(169, 169, 169, 0.51);
}

.oneProject:hover {
    box-shadow: 7px -7px 15px 1px #f9564f, -7px 7px 15px 1px #f9564f;
    transition: ease all 0.15s;
    margin: -20px 0 10px 0;
    padding-bottom: 20px;
    width: 450px;
    min-height: 350px;
}

@media (min-width: 300px) and (max-width: 500px) {
    .oneProject {
        margin: 20px 0 0 0;
    }
    .oneProject:hover {
        box-shadow: 7px -7px 15px 1px #f9564f, -7px 7px 15px 1px #f9564f;
        transition: ease all 0.15s;
        padding-bottom: 20px;
        width: 100%;
        min-height: auto;
        margin: 20px 0 0 0;
    }
}

.button {
    border: 2px solid;
    margin-top: 10px;
    font-size: large;
    padding: 5px 10px;
    border-radius: 10px;
}

.button:hover {
    background-color: #f9564f;
    color: white;
    border: 2px solid rgba(210, 83, 83, 0.49);
}

.titleAndDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}