.main {
    width: 100%;
    min-height: 110vh;
    background-image: url("../../Assets/jay-mantri-TFyi0QOx08c-unsplash.jpg");
    background-size: cover;
}

@media (min-width: 50px) and (max-width: 1000px) {
    .main {
        min-height: 110vh;
    }
}


.mainContainer {
    position: absolute;
    top: 100px;
    display: flex;
    width: 80%;
    margin: 0 150px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (min-width: 50px) and (max-width: 1000px) {
    .backgroundImg {
        display: none;
    }
    .mainContainer {
        position: inherit;
        margin: 0 auto;
    }
}

{/* text  */}

.spanText {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #f9564f;
}

.Name {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    color: #00171f;
    margin: 10px 0;
    font-size: 2.5rem;

}

.whoIam{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #00171f;
    margin: 0 0 15px 0;
}
{/* text  */}

.HomeInfo {
    height: auto;
    background: linear-gradient(135deg, rgba(248, 58, 58, 0.27) 10%, rgba(215, 215, 215, 0.56) 50%, rgba(255, 255, 255, 0.78) 100%);
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 100px;
}

.photo_me {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.HomeInfoPhoto {
    margin-top: 20px;
    width: 35%;
    background-color: transparent;
}


@media (min-width: 50px) and (max-width: 1000px) {
    .HomeInfo {
        padding: 30px;
        margin: 100px 10px 50px 10px;
    }
    .HomeInfoPhoto {
        width: 100%;
    }
}

.CNBlock {
    display: flex;
}

.socialNetwork {
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f9564f;
    color: #fff;
    border-radius: 50%;
    margin: 5px;
}

.description_block {
    position: absolute;
    top: 450px;
    left: 110px;
    width: 35%;
    height: auto;
    background: linear-gradient(135deg,  rgba(215, 215, 215, 0.56) 5%, rgba(248, 58, 58, 0.27) 40%, rgba(255, 255, 255, 0.78) 100%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
}

/*.description_text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #282727;
}

@media (min-width: 50px) and (max-width: 1000px) {
    .description_block {
        margin: 90px 0 50px 0;
        position: inherit;
        width: 100%;
    }
}*/