.main {
    height: 100vh;
    background: rgba(249, 86, 79, 0.13);
    z-index: 1;
}

.mainContainer {
    display: flex;
    /*border: 1px dashed;*/
    width: 80%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.HomeInfo {
    width: 350px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.HomeInfoPhoto {
    width: 350px;
    height: 400px;
    background-color: white;
    float: right;
}