.skillsBlock {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: rgba(255, 190, 200, 0.25);
}

@media (min-width: 300px) and (max-width: 500px) {
    .skillsBlock {
        width: 450px;
    }
}

.titleH2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

h2{
    padding: 10px;
    border: 1px dashed red;
}

.skills {
    display: flex;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divJpg {
    width: 70px;
    height: 70px;
    background-color: transparent;
}

.img_skills {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9efafa;
    width: 400px;
    min-height: 300px;
    padding: 10px;
    justify-content: center;
    margin: 10px;
}

.skill:hover {
    box-sizing: border-box;
    box-shadow: 7px -7px 15px 1px #f9564f, -7px 7px 15px 1px #f9564f;
    transition: ease all 0.15s;
}

h5 {
    font-size: larger;
}

