.skillsBlock {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: rgba(255, 190, 200, 0.25);
}

@media (min-width: 300px) and (max-width: 500px) {
    .skillsBlock {
        width: 100%;
    }
}

.titleH2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    margin: 70px 0 ;
}

@media (min-width: 300px) and (max-width: 500px) {
    .title {
        margin: 40px 0;
    }
}

.skills {
    display: flex;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 50px) and (max-width: 1300px) {
    .skills {
        width: 90%;
    }
}

@media (min-width: 1600px) and (max-width: 1850px) {
    .skills {
        width: 80%;
    }
}
@media (min-width: 1300px) and (max-width: 1600px) {
    .skills {
        width: 90%;
    }
}

.divJpg {
    width: 70px;
    height: 70px;
    background-color: transparent;
}

.img_skills {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 350px;
    min-height: 250px;
    padding: 10px;
    justify-content: center;
    margin: 15px 10px;
}

.skill:hover {
    box-sizing: border-box;
    box-shadow: 7px -7px 15px 1px #fbc4c2, -7px 7px 15px 1px #fbc4c2;

    transition: all 0.6s;
}

h5 {
    font-size: larger;
}


