.skillsBlock {
    width: 100%;
    min-height: 100vh;
    background-color: #ceffce;
    padding-bottom: 100px;
}

@media (min-width: 300px) and (max-width: 500px) {
    .skillsBlock {
        width: 400px;
    }
}

.titleH2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

h2{
    padding: 10px;
    border: 1px dashed red;
}

.skills {
    display: flex;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.divJpg {
    width: 70px;
    height: 70px;
    background-color: lightpink;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9efafa;
    width: 400px;
    min-height: 300px;
    padding: 10px;
    justify-content: center;
    margin: 10px;
}

h5 {
    font-size: larger;
}

