.headerParent {
    background-color: white;
    width: 100%;
    position: fixed;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 3px rgba(128, 128, 128, 0.2);
    z-index: 999;
}

.headerChild {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-right: 150px;
}

@media (min-width: 300px) and (max-width: 500px) {
    .headerParent {
        width: 100%;
        justify-content: normal;
    }
    .headerChild {
        width: 100%;
        margin-right: 0;
    }
}

.menuItem {
    text-decoration: none;
    font-size: x-large;
    padding: 5px 10px;
    color: black;
}

@media (min-width: 300px) and (max-width: 500px) {
    .menuItem {
        padding: 0 7px;
    }
}

active {
    /*background-color: #ff362d;*/
    background-color: #f9564f;
    border-radius: 12px;
    color: white;
    transition: ease all 0.35s;
}

.menuItem:focus {
    background-color: #f9564f;
    border-radius: 12px;
    color: white;
    transition: ease all 0.35s;
}

.menuItem:hover {
    background-color: #f9564f;
    border-radius: 12px;
    color: white;
    transition: ease all 0.25s;
}



