.headerParent {
    background-color: white;
    width: 100%;
    position: fixed;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 3px rgba(128, 128, 128, 0.2);
    z-index: 999;
}

.headerChild {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-right: 150px;
}

@media (min-width: 800px) and (max-width: 1200px) {
    .headerParent {
        margin-right: 80px;
    }
}

@media (min-width: 50px) and (max-width: 800px) {
    .headerParent {
        width: 100%;
        justify-content: normal;
    }
    .headerChild {
        display: none;
    }
}

.menuItem {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    color: black;
}

@media (min-width: 300px) and (max-width: 800px) {
    .menuItem {
        font-size: 1rem;
        padding: 0 7px;
    }
}

active {
    padding: 13px;
    background-color: #f9564f;
    border-radius: 10px;
    color: white;
    transition: ease all 0.6s;
}

.menuItem:focus {
    padding: 10px;
    background-color: #f9564f;
    border-radius: 10px;
    color: white;
    transition: ease all 0.6s;
}

.menuItem:hover {
    padding: 10px;
    background-color: #f9564f;
    border-radius: 10px;
    color: white;
    transition: ease all 0.6s;
}



