.footerBlock {
    width: 100%;
    height: auto;
    background: #00171f;
}

@media (min-width: 300px) and (max-width: 500px) {
    .footerBlock {
        width: 450px;
    }
}

.flexBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CNBlock{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

@media (min-width: 300px) and (max-width: 500px) {
    .CNBlock {
        margin:0 10px;
        width: 300px;
    }
}

.socialNetwork {
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f9564f;
    color: #fff;
    border-radius: 50%;
    margin: 10px;
}

.textFooter{
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

@media (min-width: 300px) and (max-width: 500px) {
    .socialNetwork {
        height: 45px;
        width: 45px;
        margin: 4px;
    }

    .textFooter {
        width: 330px;
    }
}

