.allFreelanceBlock {
    width: 100%;
    background-color: #ff362d;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (min-width: 300px) and (max-width: 500px) {
    .allFreelanceBlock {
        width: 100%;
    }
}

.titleFreelance {
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttonContact {
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.95);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    background: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 700;

    webkit-animation: rainbow 2s linear 2s infinite;
    animation: rainbow 3s linear 3s infinite;
    transition: all 1s;
}



.Link {

}




@-webkit-keyframes rainbow {
    0% {background: #ff362d;}
    50% {background: #ffffff;}
    100% {background: #ff362d;}
}

@keyframes rainbow {
    0% {background: #ff362d;}
    50% {background: #ffffff;}
    100% {background: #ff362d;}
}

@-webkit-keyframes rainbow1 {
    0% {background: #ff362d;}
    50% {background: #ffffff;}
    100% {background: #ff362d;}
}

@keyframes rainbow1 {
    0% {background: #ff362d;}
    50% {background: #ffffff;}
    100% {background: #ff362d;}
}


.buttonContact {
    vertical-align: middle;
    margin-top: 8px;
}