.allFreelanceBlock {
    width: 100%;
    background-color: #ff362d;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (min-width: 300px) and (max-width: 500px) {
    .allFreelanceBlock {
        width: 100%;
    }
}

.titleFreelance {
    width: 100%;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.buttonContact {
    color: #00171f;
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    background: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}

.buttonContact:hover {
    color: white;
    background-color:  #ff362d;
    border: 1px solid white;
}

.buttonContact:focus {
    color: white;
    background-color:  #ff362d;
    border: 1px solid white;
}